html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* SIDE NAV BAR */
.leftpart_wrap {
  position: fixed;
  width: 300px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #041230;
  z-index: 100;
}

.leftpart_wrap::before {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background: maroon;
  position: absolute;
  bottom: 100px;
  padding-left: 0%;
  margin-left: 0;
}

.leftpart_wrap .leftpart_upper {
  padding-top: 120px;
  padding-left: 5%;
}

.leftpart_wrap .leftpart_upper ul {
  list-style: none;
}

.leftpart_wrap .leftpart_upper li a {
  text-decoration: none;
  line-height: 3.5;
  list-style-type: none;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Montserrat';
}

.leftpart_wrap .leftpart_bottom {
  position: absolute;
  bottom: 30px;
  padding-left: 40px;
}

.leftpart_wrap .leftpart_bottom #icons {
  margin-top: 20px;
}

.leftpart_wrap .leftpart_bottom #icons li {
  display: inline-block;
}

.leftpart_wrap .leftpart_bottom #icons li a {
  color: white;
  padding: 2px;
  font-size: 22px;
}


/* MAIN SIDE */
#home {
  margin-left: 300px;
}

#home .inner_content {
  position: relative;
  overflow: hidden;
  height: 50rem;
  background-color: rgba(39, 55, 90, 0.8);
}

#home .inner_content .bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -999;
}

#home .inner_content .name_holder {
  width: 60%;
  /* To center the entire box */
  margin: 3rem auto;
  margin-top: 10rem;
  /* To center the contents within the box */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home .inner_content .name_holder img {
  width: 30%;
  object-fit: cover;
  margin: 0 auto;
}

#home .inner_content .name_holder h3 {
  font-family: 'Montserrat';
  color: #fff;
  letter-spacing: 1.2px;
  font-size: 3.8rem;
  font-weight: 400;
  margin: auto;
  margin-top: 1rem;
  text-align: center;
}

#home .inner_content .name_holder h3 span {
  color: maroon;
  letter-spacing: 1.2px;
  font-size: 60px;
  font-weight: 400;
  font-family: 'Montserrat';
  text-shadow: 1px 1px maroon;
}

#home .inner_content .name_holder span {
  display: inline-block;
}

.animate__animated.animate__flip {
  backface-visibility: visible;
  font-weight: bold;
  animation-name: flip;
}

#home .inner_content .name_holder p {
  font-family: 'Montserrat';
  color: #fff;
  letter-spacing: 1.2px;
  font-size: 1.8rem;
  text-align: center;
  width: 80%;
  margin: 1rem auto;
}

/*ABOUT ME*/

#about {
  padding: 0 30px;
  position: relative;
}

#about h3,
#portfolio h3 {
  font-family: 'Montserrat';
  color: maroon;
  font-size: 3rem;
  position: relative;
  text-align: center;
  margin: 2rem auto;
}

.about_detail {
  margin-left: 30px;
  width: 100%;
}

.about_detail .title_holder {
  width: 75%;
  padding: 10px;
  border-style: dotted;
  border-color: maroon;
  margin: 0 auto;
  margin-bottom: 3%;
  border-radius: 15px;
}

.about_detail .title_holder p {
  color: black;
  font-size: 24px;
  font-family: 'Montserrat';
}

.about_detail .title_holder article {
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.5px;
  word-wrap: break-word;
  font-weight: 400;
}

.about_detail .title_holder article span {
  color: maroon;
}

.about_detail .title_holder article quote {
  color: maroon;
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.5px;
  word-wrap: break-word;
  font-weight: 400;
  font-style: italic;
  text-shadow: 0.5px 0.5px red;
}

.about_detail .title_holder .timeline {
  position: relative;
  width: 90%;
  margin: 10px auto;
  background-color: #f8f8f8;
  font-family: 'Open Sans', sans-serif;
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about_detail .title_holder .timeline p {
  font-size: 0.8rem;
  color: black;
  font-family: 'Montserrat';
  background-color: white;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 5px;
}

.about_detail .title_holder .timeline p .animate__animated.animate__bounce {
  --animate-repeat: 20;
  --animate-duration: 2s;
  color: maroon;
  font-size: 14px;
  display: inline-block;
}

/*RIGHT TIMELINE*/
#right {
  margin-left: 0;
  width: 350px;
}

#right #year::after {
  content: ' ';
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
  display: inline-block;
  position: absolute;
  z-index: 1;
  left: 46.4%;
}

#right p::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: 49.5%;
  background-color: white;
  border: 4px solid maroon;
  border-radius: 50%;
  z-index: 1;
}

/*LEFT TIMELINE*/
#left {
  margin-left: 55%;
  width: 350px;
}

#left #year::before {
  content: ' ';
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  display: inline-block;
  position: absolute;
  z-index: 1;
  right: 45.5%;
}

#left p::before {
  content: ' ';
  position: absolute;
  width: 10px;
  height: 10px;
  left: 49.5%;
  background-color: white;
  border: 4px solid maroon;
  border-radius: 50%;
  z-index: 1;
}

.about_detail .title_holder .timeline p #year {
  font-size: 16px;
  font-family: 'Open Sans';
  letter-spacing: 0.5px;
  word-wrap: break-word;
  font-weight: bold;
}

.about_detail .title_holder .timeline p #company {
  font-size: 14px;
  font-family: 'Open Sans';
  letter-spacing: 0.5px;
  word-wrap: break-word;
  font-weight: italic;
  text-decoration: underline;
}
.about_detail .title_holder .timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
}

/*SKILLS DETAIL*/

.about_detail .skills {
  margin-top: 10px;
  position: relative;
  width: 90%;
  background-color: lightgray;
  display: flex;
  height: auto;
  padding: 2rem;
}

.about_detail .skills .skill_explain p {
  padding-left: 5%;
  color: black;
  font-size: 24px;
  font-family: 'Montserrat';
  margin-top: 0;
}

.about_detail .skills .skill_explain article {
  padding-left: 5%;
  width: 65%;
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.5px;
  word-wrap: break-word;
  font-weight: 400;
}

.about_detail .skills .button {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  overflow: hidden;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  width: 300px;
  height: 100px;
  line-height: 100px;
  background-color: #27375a;
  color: #fff;
}

.icon {
  background-color: #2b50a0;
}

.button span,
.button .icon {
  position: absolute;
  display: block;
  height: 100%;
  text-align: center;
}

.button span {
  width: 72%;
  left: 0px;
  line-height: inherit;
  font-size: 18px;
}

.button .icon {
  right: 0;
  width: 28%;
}

.button .icon .fa {
  font-size: 30px;
  vertical-align: middle;
}

/* SKILL LIST */
.about_detail .skills .skill_list {
  width: 200px;
  padding: 2px 6px 2px 0px;
  margin: 10px;
  border-style: dotted;
  border-color: maroon;
  display: none;
}

.about_detail .skills .skill_list ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  font-size: 14px;
}

.about_detail .skills .skill_list ul li:last-child {
  border: none;
}

.about_detail .skills .skill_list ul li {
  text-decoration: none;
  color: #000;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: block;
  width: 200px;
}

.about_detail .skills .skill_list ul li:hover {
  color: maroon;
  font-size: 16px;
}

/* PORTFOLIO */
#portfolio .project_container {
  margin-right: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}


#portfolio .project_container .project {
    width: 30%;
    position: relative;
    margin-bottom: 2rem;
    border: 2px solid lightgrey;
    margin-bottom: 2rem;
  }
  
#portfolio .project_container .project img {
  width: 100%;
  object-fit: cover;
  height: 11rem;
  margin-bottom: 1rem;
}

#portfolio .project_container .project figcaption {
  text-align: center;
  font-weight: bold;
}

#portfolio .project_container .project p {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 100;
  height: 50px;
  text-align: center;
  width: 90%;
  margin: auto;
}

.p-opacity {
  color: maroon;
  font-size: 16px;
}

#contact {
  padding: 20px;
  margin-left: -30px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  background-color: #041230;
  color: white;
}

#contact h1 {
  padding-top: 10px;
  font-size: 24px;
  font-family: 'Montserrat';
}

#contact p {
  padding-top: 10px;
  font-size: 14px;
  font-family: 'Montserrat';
}

#contact span {
  font-weight: bold;
}

#myBtn {
  position: absolute;
  bottom: 60px;
  /* Place the button at the bottom of the page */
  right: 50px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border-color: darkred;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: maroon;
  color: white;
  cursor: pointer;
  padding: 5px;
  width: 100px;
  border-radius: 10px;
  font-size: 30px;
}

#myBtn:hover {
  background-color: red;
}

.sub-p {
  padding-top: 30px;
  text-align: center;
  font-family: var(--ff-source);
  color: maroon;
  margin-bottom: 0;
}

.p-opacity {
  color: maroon;
  font-size: 16px;
}

.github {
  text-decoration: none;
  color: maroon;
  display: inline-block;
  margin-right: 0.5em;
  margin-left: 1em;
  font-size: 20px;
}

.no-margins {
  text-decoration: none;
  color: maroon;
  display: inline-block;
  font-size: 20px;
  letter-spacing: 2em;
}

.github:hover {
  color: #041230;
}
.no-margins:hover {
  color: #041230;
}

/* Mobile Responsive */

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .leftpart_wrap {
    display: none;
  }

  #home {
    margin-left: 0;
  }

  #home .inner_content .name_holder img {
    width: 70%;
  }

  #home .inner_content .name_holder h3 {
    font-size: 2rem;
  }

  #home .inner_content .name_holder h3 span {
    font-size: 2.3rem;
  }

  #home .inner_content .name_holder p {
    font-size: 1.7rem;
    margin-top: 4rem;
  }

  .about_detail {
    margin-left: 0;
  }

  .about_detail .title_holder {
    width: 90%;
  }

  .about_detail .title_holder .timeline {
    width: unset;
  }

  .about_detail .title_holder .timeline::after {
    display: none;
  }

  .about_detail .skills {
    flex-direction: column;
    justify-content: center;
  }

  .about_detail .skills div {
    margin-bottom: 2rem;
  }

  /*RIGHT */
  #right {
    margin-left: 0;
    width: 350px;
  }
  
  .about_detail .title_holder .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 12%;
  }

  /*LEFT TIMELINE*/
  #left {
    margin-left: 0%;
    width: 350px;
  }
  
  #left #year::before {
    display: none;
  }
  
  #left p::before {
    content: ' ';
    position: absolute;
    width: 10px;
    height: 10px;
    left: 0%;
    background-color: white;
    border: 4px solid maroon;
    border-radius: 50%;
    z-index: 1;
  }

  #right p::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: 0%;
    background-color: white;
    border: 4px solid maroon;
    border-radius: 50%;
    z-index: 1;
  }




  #portfolio .project_container {
    margin-right: 0;
  }

  #portfolio .project_container .project {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  #contact {
    margin-left: 0;
  }
}
